@font-face {
    font-family: "Bahij";
    src: url("./fonts/Bahij_TheSansArabic-Bold.ttf");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Bahij";
    src: url("./fonts/Bahij_TheSansArabic-Plain.ttf");
    font-weight: 300;
    font-style: normal;
}

* {
    font-family: "Bahij", serif;
    font-weight: 300;
}

.my-message {
    background-color: #00d9c8;
}

.backdrop-blur {
    background: inherit;
    backdrop-filter: blur(12px);
}

.bg-hover {
    background: inherit;
    transition: background-color 0.3s ease-in-out;

}

.bg-hover:hover, .bg-hover.active {
    background-color: rgba(0, 174, 160, 0.05);
}

.bg-primary-gradient {
    background: linear-gradient(90deg, rgba(0, 217, 200, 0) 0%, rgba(0, 217, 200, 0) 100%);
}

