@font-face {
    font-family: "Bahij";
    src: url("./fonts/Bahij_TheSansArabic-Bold.ttf");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Bahij";
    src: url("./fonts/Bahij_TheSansArabic-Plain.ttf");
    font-weight: 300;
    font-style: normal;
}

.my-message {
    background-color: #00d9c8;
}
